@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div data-bind="foreach: photos" class="row">
    <div class="col-md-4 list-photo">
        <h2 data-bind="text: Title"></h2>
        <a href="#">
            <span class="username">@@<span data-bind="text: Username"></span></span>
        </a>
        <img data-bind="attr: { src: ImageUrl }" />
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var viewModel = {
                photos: ko.observableArray([])
            };
            ko.applyBindings(viewModel);

            console.log('Getting photos')
            $.get('/api/Photos')
                .done(function (data) {
                    viewModel.photos.push.apply(viewModel.photos, data);
                    console.log('Done')
                }).fail(function (err) {
                    console.error(err);
                })
        });
    </script>
}